
<div id="desnaStrana">

    <h3>Članovi</h3>
    <h4>Ovde možete da vidite svakog ponosnog dobrotvora na Palindromu.</h4>



    

</div>



<style>
    body {
    }

    #desnaStrana {
        background-color: white;
        position: absolute;
        width: 300px;
        height: 100%;
        padding: 20px;
        left:84.5%;
    }

    h3 {
        text-align: center;
    }
</style>