@model Palindrom.VjuModeli.VjuModZaProfil




    <img style="background-color:yellow; width:250px;height:200px;display:inline-flex" src="@Model.NazivPrSl" /><br/>
    <h3 style="display:inline-flex;padding-left:0px">@Model.Korisnik</h3><br />
   

    <p style="display:inline-flex;font-size:15pt; margin-top:20px;border:solid 1px black;padding:5px">@Model.OpisPr</p>
   

<style>
    
</style>