@model Palindrom.Models.PalindromBaza

@Html.TextBoxFor(m => m.Naslov, new { @value = Model.Naslov, @style = "font-size: 25pt; text-align: center; max-width: 100%; width: 70%; position: relative; left: 17%; margin-top: 30px; background-color: lightblue", @readonly = "readonly" })

@Html.TextAreaFor(m => m.Tekst, new { @value = Model.Tekst, @style = "font-size:20pt;position:absolute;left:13%;top:20%;max-width:75%;min-width:75%;width:60%;height:70%;max-height:70%;min-height:70%;background-color:pink", @readonly = "readonly" })
<br />
@if (User.IsInRole("admin") || User.Identity.Name == Model.Korisnik)
{<button class="btn" style="position:absolute;top:93%;right:81.5%" onclick="location.href='@Url.Action("ObrisiSadrzaj", "Home", new {id = Model.ID})'">Obriši temu</button>
    <br />
    <br />
    <button class="btn" style="position:absolute;top:93%;right:75%" onclick="location.href='@Url.Action("IzmeniSadrzaj", "Home", new { id = Model.ID })'">Izmeni temu</button>
}

