@model Palindrom.Models.PalindromBaza
    
<div style = "font-size:25pt;text-align:center;max-width: 100%;width:70%;position:relative;left:17%">@Model.Naslov</div>

<div style = "font-size:20pt;position:absolute;left:13%;top:20%;max-width:75%;min-width:75%;width:75%;height:70%;max-height:70%;min-height:70%">@Model.Tekst</div>